# Node.js dependencies
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Dependency directories
jspm_packages/

# Environment variables
.env

# IDE/Editor specific files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Build output
dist/
build/

# Yarn integrity file
.yarn-integrity

# npm package-lock
package-lock.json
